.weatherCard {
  display: inline-block;
  vertical-align: top;
  font-family: 'Libre Franklin', Tahoma, Verdana, sans-serif;
}

.weatherBox {
  font-size: 18px; /* control card size here */
  width: 8em;
  background: #fff;
  display: inherit;
  vertical-align: inherit;
}

.weatherBox > p {
  margin: 0;
}

.weatherBox > p:first-child {
  padding-top: 8px;
}

.weatherBox > p:last-child {
  padding-bottom: 8px;
}

.weatherBox > p span {
  font-size: 0.8em;
}

.weatherBox:hover {
  background: rgba(83, 194, 198, 0.5);
  color: white;
  cursor: pointer;
}